
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover"/>

<!-- <link rel="stylesheet" href="/assets/home/css/WeUI/weui.min.css"/> -->

<!-- MUI框架库 -->
<link rel="stylesheet" href="/assets/home/css/mui/mui.min.css"/>

<link rel="stylesheet" href="/assets/home/css/Swiper@3.4.2.css"/>

<link rel="stylesheet" href="/assets/home/css/style.css"/>
<title>在线云课堂</title>

<!-- 客户中心文件 -->
<link href="/assets/home/css/MyCenter.css" rel="stylesheet" />

<!-- 星星图标cdn -->
<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<!-- jquery 插件 -->
<!-- <script src="/assets/home/js/jquery-1.9.1.min.js"></script> -->